<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:pattern {"slug":"club100/hero"} /-->

<!-- wp:pattern {"slug":"club100/how-it-works"} /-->

<!-- wp:pattern {"slug":"club100/fitness-report"} /-->

<!-- wp:pattern {"slug":"club100/training-formats"} /-->

<!-- wp:pattern {"slug":"club100/programs"} /-->

<!-- wp:pattern {"slug":"club100/why-club100"} /-->

<!-- wp:pattern {"slug":"club100/testimonials"} /-->

<!-- wp:pattern {"slug":"club100/trainers"} /-->

<!-- wp:pattern {"slug":"club100/final-cta"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
